<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Order</title>
</head>
<body>
	<div align="center">
		<h1>Edit Order</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${order}" method="post">
		<table border="0" cellpadding="10">
		<tr>
			<td>Order ID:</td>
			<td><input type="text" th:field="*{idorders}" readonly="readonly"/></td>
		</tr>
		<tr>
			<td>ItemName:</td>
			<td><input type="text" th:field="*{ItemName}"/></td>
		</tr>
		<tr>
			<td>Quantity:</td>
			<td><input type="text" th:field="*{Quantity}"/></td>
		</tr>
		<tr>
			<td>Item_details:</td>
			<td><input type="text" th:field="*{Item_details}"/></td>
		</tr>
		<tr>
			<td colspan="2"><button type="submit">Save</button></td>
		</tr>
		</table>
		</form>
	</div>

</body>
</html>